<!DOCTYPE html>
<html>
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
     <meta charset = "UTF-8">
     <title> Cereal Analysis Prediction </title>
<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
<style>
.login{
top:20X;
}
body
{
background-image:url(predict7.jpg);
background-position: center; 
font-family: Grey;
font-size:4;
font-color: Grey;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-attachment: fixed;
background-position:20% 20%;
} 
.btn-6k {
    border: 4px double #226fbe;
    border-radius: 15px;
    font-color: #f9f9f9;
}
</style>
<body>
<div class="login">
<h1 style="color: SlateBlue;"><center>Cereal Analysis Based on Ratings by using Machine Learning Techniques</center></h1>
<span class = "label label-default"></span></h1>
             <div class = "description">
               <p><b>A customer wants to buy some food items with high dietary benefits so that he wants to know which food item has food item has high dietary benefits.It is so difficult to choose an item.Usually a Customer expects to consume dietary cereals with high proteins,fiber and low sugars,fats.Predicting a brand with dietary cereals became a big issue.</b></p>
               <p><b>We use machine learning algorithms to predict the food with high beneficiary diet. The model can predict the rating of the food more accurate by giving the inputs which are the cereals and ingredients present in the food. Thus a customer can get high dietary food by the rating of the food given to it from the cereals and ingredients present. The rating is predicted using the neural networks model.</b></p>
             </div>
             
             <form action = "/assesment">
